/EXAMENES SIN RESOLUCION/Examen 5/Examen 5/nbproject/private/
/EXAMENES SIN RESOLUCION/Examen7/Examen7/nbproject/private/
/EXAMENES SIN RESOLUCION/Examen8/Examen8/nbproject/private/
/EXAMENES SIN RESOLUCION/Examen9/Examen9/nbproject/private/
/EXAMENES SIN RESOLUCION/Examen10/Examen10/nbproject/private/
/EXAMENES SIN RESOLUCION/Examen10/Examen10/build/